<div class="card-body">

  <%= form_with(model: loan, local: true) do |form| %>
    <% if loan.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

        <ul>
          <% loan.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row">
      <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Description</label>
      <div class="col-lg-6">
        <%= form.text_area :description, :class => 'form-control', :placeholder => "Enter Description", required: true %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Amount</label>
      <div class="col-lg-6">
        <%= form.number_field :amount, :class => 'form-control', :placeholder => "Enter Amount", required: true %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-lg-3 control-label text-lg-right pt-2">Expected Return</label>
      <div class="col-lg-6">
        <%= form.select :expected_return, options_for_select(['1 week', '2 weeks', '3 weeks', '4 weeks']), {}, :class => 'form-control form-control-lg mb-3'  %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    $("#datepicker").datepicker({
      autoclose: true,
      todayHighlight: true
    })
  });
</script>