<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @loan.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @loan.amount %>
</p>

<p>
  <strong>Admin approval:</strong>
  <%= @loan.admin_approval %>
</p>

<p>
  <strong>Plug approval:</strong>
  <%= @loan.plug_approval %>
</p>

<p>
  <strong>Status:</strong>
  <%= @loan.status %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
