<div class="card-body">
  <%= form_with(model: account, local: true) do |form| %>
    <% if account.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

        <ul>
          <% account.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row">
      <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Amount</label>
      <div class="col-lg-6">
        <%= form.number_field :amount, id: :account_amount, :class => 'form-control', :placeholder => "Enter First Amount", required: true %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
